body {
  font-size: 20px;
  background: #f5f5f5;
}

.app-container {
  max-width: 900px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  margin-top: 20px;
}

button {
  font-size: 18px !important;
}

.content-box {
  margin-top: 25px;
}
